*{
	box-sizing:border-box;
}




.minz{
	background-color:#fff;
	padding: 10px 0px; 
	text-align: center;	
}

.minz a{
	color: #fff;
	text-decoration: none;
	margin: 0  5px;
	font-size: 17px;
	color: black;
	display:inline-block;
	width: 100px;
}
a:hover{
	background:#ccc;
}
.cnopka {
	background: url(polygons.png) no-repeat top center;
	color: #fff;
	text-align: center;
	padding:  200px 0px;

}
.cnopka button{
	font-size:  20px;
	padding: 6px 11px;
	border-radius: 6px;
	border: none;
	font-style: italic;
}
.net img{
	width: 200px;
	vertical-align: top;
}
.net{
	width: 1200px;
	margin: 0 auto;
}
.net p{
	width: 900px;
	display: inline-block;
	text-align: justify;
}
.net h1{
	text-align: center;
}
.kyb{
	background-color: black;
}
.kyb h3{
	color: #fff;
}
.tiktok{
	display:inline-block;
	width: 20%;
	margin: 20px 11px;
	border: 1px gray solid;
	padding: 20px;
	height: 400px;
	vertical-align: top;
	box-shadow: 0 2px 5px gray;
}
.tiktok img{
	width: 100%;
}
.tiktok button{
	background-color: lightblue;
	border:none;
	width: 75%;
	height: 36px;
	border-radius:6px;	

}
.tiktoc{
text-align: center;

}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 30.3%;
}
.grabej{
	background-color: gray;
	text-align: center;
padding: 12px 0;
}
li{
	padding: 15px 0;
	border-bottom: 2px lightgray solid;
	background-color:#fff ;
	border-radius: 3px;
}

.ayf button{
color: #fff;
background-color: black;
border-radius: 10px;
padding: 12px 24px;

}
.ayf li:last-child{
background-color:#dcdcdc;
}
.w{
	background-color: #1d1d1d;
	color: #fff;
	padding: 22px 0px;
}
.t{
	background-color: #70c8e0;
	color: #fff;
	padding:32px 0px;
}
.ayf{
	vertical-align: middle;
}
.ayf span{
font-size: 25px;
font-weight: bold;
}
.ayf p{
font-style:italic ;
opacity: 0.4;
}
.f h2{
text-align: center;
}
.f input{
display:block ;
width: 90%;
margin-top: 10px;
padding: 5px;
}
.f{
	text-align:  center;
}
.g{
text-align: left;
padding-left: 30px ;

}

.adress{
	background: url(address.png) no-repeat left center;
	background-size: 18px 18px;

}
.telefon{
	background: url(phone.png) no-repeat left center;
	background-size: 18px 18px;

}
.email{
	background: url(mail.png) no-repeat left center;
	background-size: 18px 18px;

}
.f button{
	color: #fff;
	background-color: black;
	padding: 6px;
	margin-top: 6px;
	border-radius: 6px;
}